ion-menu-button {
  color: var(--ion-color-primary);
}

ion-toolbar {
  --background: rgba(255, 255, 255, 0.69);
}

.tool {
  display: flex;
}

.avatar {
  margin: 0rem 0.5rem 0rem 0rem;
  float: right;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.bt1 {
  --background: #0e2d57;
}

h2 {
  font-weight: 600;
  margin: 0px 0px 40px 10px;
}

ion-card {
  color: black;
  background: linear-gradient(to bottom, #d0dbea 0%, #ffffff 60%);
}

ion-card-content {
  color: black;
}

ion-grid {
  --ion-grid-columns: 4;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 5px;
}

ion-col {
  color: black;
  text-align: center;
  border-radius: 50px;
  padding: 5px;
  margin: 10px;
}