<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <div class="tool">
    <ion-title>{{folder}}</ion-title>
  </div>

</ion-toolbar>
<ion-content [fullscreen]="true">

  <ion-card>

    <ion-button class="buttons" (click)="deleteUser()" *ngIf="!editMode" color="danger" size="small"
      fill="outline"><ion-icon name="trash" slot="start"></ion-icon>Delete Account</ion-button>
    <ion-button class="signout" (click)="logOut()" shape="round" size="small" fill="outline" aria-label="Favorite">Log
      out
      <ion-icon slot="end" size="small" name="log-out-outline"></ion-icon>
    </ion-button>

    <ion-card-header>
      <ion-card-title>
        <h1 class="center">Profile Details</h1>
      </ion-card-title>
    </ion-card-header>

    <ion-button class="buttons" (click)="edit()" *ngIf="!editMode" size="small" fill="clear"><ion-icon name="create"
        slot="start"></ion-icon>Edit</ion-button>
    <ion-card-content>
      <div class="table">
        <table>
          <tbody>
            <tr>
              <td>
                <h2><b>Email Address </b></h2>
              </td>
              <td>
                <h2>
                  <span *ngIf="!editMode"> {{patient_details.patient_email_address}}</span>
                  <span *ngIf="editMode"><ion-input
                      [(ngModel)]="patient_details.patient_email_address"></ion-input></span>
                </h2>
              </td>
            </tr><br><br>
            <tr>
              <td>
                <h2><b>First Name </b></h2>
              </td>
              <td>
                <h2>
                  <span *ngIf="!editMode"> {{patient_details.patient_first_name}} </span>
                  <span *ngIf="editMode"><ion-input [(ngModel)]="patient_details.patient_first_name"></ion-input></span>
                </h2>
              </td>
              &nbsp;&nbsp;&nbsp;
              <td>
                <h2><b> Last Name </b></h2>
              </td>
              <td>
                <h2>
                  <span *ngIf="!editMode"> {{patient_details.patient_last_name}}</span>
                  <span *ngIf="editMode"><ion-input [(ngModel)]="patient_details.patient_last_name"></ion-input></span>
                </h2>
              </td>
            </tr><br>
            <tr>
              <td>
                <h2> <b>Date Of Birth </b></h2>
              </td>
              <td>
                <h2>
                  <span *ngIf="!editMode"> {{patient_details.patient_date_of_birth}}</span>
                  <span *ngIf="editMode"><ion-input
                      [(ngModel)]="patient_details.patient_date_of_birth"></ion-input></span>
                </h2>
              </td>
              &nbsp;&nbsp;&nbsp;
              <td>
                <h2><b>Gender </b></h2>
              </td>
              <td>
                <h2>
                  <span *ngIf="!editMode"> {{patient_details.patient_gender}}</span>
                  <span *ngIf="editMode"><ion-input [(ngModel)]="patient_details.patient_gender"></ion-input></span>
                </h2>
              </td>
            </tr><br>
            <tr>
              <td>
                <h2><b>Address </b></h2>
              </td>
              <td>
                <h2>
                  <span *ngIf="!editMode"> {{patient_details.patient_address}}</span>
                  <span *ngIf="editMode"><ion-input [(ngModel)]="patient_details.patient_address"></ion-input></span>
                </h2>
              </td>
              &nbsp;&nbsp;&nbsp;
              <td>
                <h2> <b>Phone Numbre </b></h2>
              </td>
              <td>
                <h2>
                  <span *ngIf="!editMode"> {{patient_details.patient_phone_no}}</span>
                  <span *ngIf="editMode"><ion-input [(ngModel)]="patient_details.patient_phone_no"></ion-input></span>
                </h2>
              </td>
            </tr><br>
            <tr>
              <td>
                <h2><b>Marital Status </b></h2>
              </td>
              <td>
                <h2>
                  <span *ngIf="!editMode"> {{patient_details.patient_marital_status}}</span>
                  <span *ngIf="editMode"><ion-input
                      [(ngModel)]="patient_details.patient_marital_status"></ion-input></span>
                </h2>
              </td>
              &nbsp;&nbsp;&nbsp;
              <td>
                <h2><b>Account Created On </b></h2>
              </td>
              <td>
                <h2>
                  <span *ngIf="!editMode">{{patient_details.patient_added_on}}</span>
                  <span *ngIf="editMode"><ion-input [disabled]="editMode"
                      [(ngModel)]="patient_details.patient_added_on"></ion-input></span>
                </h2>
              </td>
            </tr>
            <br><br>
          </tbody>
        </table>
      </div>
      <ion-button class="buttons" (click)="save()" *ngIf="editMode" fill="clear"><ion-icon name="checkmark-done-circle"
          slot="start"></ion-icon>Save</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>